---
 const personalImageAlt = "Rafael Basanta Gonzalez"
---

<article class="flex flex-col-reverse md:flex-row items-center gap-10 text-gray-700 dark:text-gray-300">
  <div class="prose dark:prose-invert max-w-xl text-lg leading-relaxed">
    <p>
      Me llamo Rafa, tengo 27 años y vivo en la mejor ciudad del mundo (Santander).
      Desde pequeño he sido un apasionado del mundo tecnológico.
      Cursé los grados de <strong>Técnico en Sistemas Microinformáticos y Redes (SMR)</strong> y <strong>Técnico Superior en Desarrollo de Aplicaciones Web (DAW).</strong>
    </p>
    <br>
    <p>
      Fuera del ámbito de la programación estoy muy involucrado en el mundo deportivo. <strong>Participo en la formación de jugadores jóvenes y compito a nivel regional desde hace años.</strong>
    </p>
    <br>
    <p>
      Mi objetivo profesional es <strong>seguir creciendo como desarrollador, aprendiendo nuevas tecnologías y aplicando mis conocimientos.</strong> Sobre todo participar en proyectos interesantes e innovadores.
    </p>
  </div>

  <img
    src="/images/basket.JPEG"
    alt={personalImageAlt}
    class="w-64 h-64 object-cover rounded-3xl ring-2 ring-green-500/30 hover:ring-green-600/70 transition-all duration-300"
  />
</article>
