<a href="https://www.linkedin.com/in/rafael-basanta-gonz%C3%A1lez-755b092a6/" target="_blank" rel="noopener noreferrer">
  <div class="flex items-center justify-center">
    <span class="relative inline-flex overflow-hidden rounded-full p-[1px] shadow-md cursor-pointer">
      <span
        class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-[conic-gradient(from_180deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
      ></span>
      <div class="inline-flex items-center justify-center px-4 py-1.5 text-sm font-medium text-green-900 bg-green-100 dark:bg-gray-800 dark:text-white/80 rounded-full backdrop-blur-xl whitespace-nowrap hover:bg-green-200 transition-all duration-300">
        <slot />
      </div>
    </span>
  </div>
</a>
