<a href="https://www.linkedin.com/in/rafael-basanta-gonz%C3%A1lez-755b092a6/" target="_blank" rel="noopener noreferrer" class="group">
  <div class="flex items-center justify-center">
    <span class="relative inline-flex overflow-hidden rounded-full p-[2px] shadow-lg cursor-pointer transition-all duration-500 hover:shadow-xl hover:scale-105">
      <span
        class="absolute inset-[-1000%] animate-[spin_3s_linear_infinite] bg-[conic-gradient(from_180deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)] group-hover:animate-[spin_1.5s_linear_infinite]"
      ></span>
      <div class="inline-flex items-center justify-center px-5 py-2 text-sm font-semibold text-green-900 bg-green-100 dark:bg-gray-800 dark:text-white/90 rounded-full backdrop-blur-xl whitespace-nowrap hover:bg-green-200 dark:hover:bg-gray-700 transition-all duration-300">
        <slot />
      </div>
    </span>
  </div>
</a>
