<style>
  .underline-text {
    text-decoration: underline;
  }
</style>

<footer class="mt-24 py-12 text-center text-sm text-gray-500 dark:text-gray-400 border-t border-gray-200 dark:border-gray-700">
  <p>© {new Date().getFullYear()} <a href="https://instagram.com/rafabasanta" rel="noopener noreferrer" class="underline-text">Rafael Basanta</a>. Todos los derechos reservados.</p>
</footer>
