<footer class="mt-24 py-12 text-center text-sm text-gray-500 dark:text-gray-400 border-t border-gray-200 dark:border-gray-700">
  <p>© {new Date().getFullYear()} Rafael Basanta. Todos los derechos reservados.</p>
  
</footer>
