---
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../assets/Linkedln.astro"
import MailIcon from "../assets/Mail.astro"
import SocialPill from "../components/SocialPill.astro"
import GithubIcon from "../assets/Github.astro"
---

<div class="max-w-3xl mx-auto text-center md:text-left">
  <div class="flex flex-col items-center md:flex-row gap-4 mb-6">
    <img
      class="rounded-full shadow-xl size-28 border-2 border-green-600 hover:border-green-800 transition-all duration-300"
      src="/images/merounded.png"
      alt="Foto de perfil de Rafael"
    />
    <Badge>Disponible para trabajar</Badge>
  </div>

  <h1 class="text-5xl font-extrabold tracking-tight text-green-800 dark:text-green-100 leading-tight">
    Rafael Basanta González
  </h1>
  <p class="mt-6 text-xl leading-relaxed text-gray-800 dark:text-gray-300">
    +4 años de experiencia como <strong class="text-green-700 dark:text-green-300 font-semibold">Desarrollador Full-Stack</strong>. Residente en Santander, España. Especializado en crear experiencias digitales funcionales y atractivas.
  </p>

  <nav class="flex flex-wrap justify-center md:justify-start gap-4 mt-8">
    <SocialPill href="mailto:rafabasanta@hotmail.com">
      <MailIcon class="size-4" />
      Email
    </SocialPill>
    <SocialPill href="https://github.com/raafa12">
      <GithubIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/rafael-basanta-gonz%C3%A1lez-755b092a6/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
