---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    role="link"
    class="inline-flex bg-green-100 text-green-900 border-green-200 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:bg-gray-800 dark:border-gray-600 dark:text-white/80 focus-visible:ring-green-600/80 text-md hover:bg-green-200 hover:border-green-300 group max-w-fit rounded-xl focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-green-100 dark:active:bg-green-900/50"
>
    <slot />
</a>