<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-green-900 transition bg-green-100 border border-green-200 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white/80 focus-visible:ring-green-600/80 text-md hover:bg-green-200 hover:border-green-300 hover:text-green-900 dark:hover:text-green-300 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2"
>
  <slot />
</a>